<% include partials/header %>

<h1>This is the home page!</h1>

<img src="https://img.maximummedia.ie/joe_ie/eyJkYXRhIjoie1widXJsXCI6XCJodHRwOlxcXC9cXFwvbWVkaWEtam9lLm1heGltdW1tZWRpYS5pZS5zMy5hbWF6b25hd3MuY29tXFxcL3dwLWNvbnRlbnRcXFwvdXBsb2Fkc1xcXC8yMDE5XFxcLzAzXFxcLzIxMTQxMTU0XFxcL2hlLW1hbi5qcGdcIixcIndpZHRoXCI6NzY3LFwiaGVpZ2h0XCI6NDMxLFwiZGVmYXVsdFwiOlwiaHR0cHM6XFxcL1xcXC93d3cuam9lLmllXFxcL2Fzc2V0c1xcXC9pbWFnZXNcXFwvam9lXFxcL25vLWltYWdlLnBuZz9pZD00M2JjYTlkZTdlYjI2OTczN2EwZlwiLFwib3B0aW9uc1wiOltdfSIsImhhc2giOiIwOWNjZGUzZDljYWM5YWM2ZDgzOWQxYmYxYTYwYjBjM2JhOWI0MjVhIn0=/he-man.jpg" alt="">

<% include partials/footer %>