<% include ../partials/header %>

<div class="container">
    <header class="jumbotron">
        <div class="container">
            <h1><i class="fas fa-campground"></i> This is YelpCamp!</h1>
            <p>We hand-pick campgrounds from around the world for you to enjoy!</p>
            <p>
                <a class="btn btn-primary btn-large" href="/campgrounds/new">Add New Campground</a>
            </p>
            <p>
                <form action="/campgrounds" action="GET" class="form-inline">
                    <div class="form-group">
                        <input type="text" name="search" placeholder="Campground search..." class="form-control">
                        <button class="btn btn-primary ml-2">Search</button>
                    </div>
                </form>
            </p>
        </div>
    </header>

    <div class="row">
        <% campgrounds.forEach((campground) => { %>
            <div class="col-md-3 col-sm-6">
                <div class="card">
                    <img class="card-img-top" src="<%= campground.image %>">
                    <div class="card-body">
                        <div class="card-text">
                            <h4><%= campground.name %></h4>
                            <p>
                                <a href="/campgrounds/<%= campground._id %>" class="btn btn-primary">More Info</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        <% }); %>
    </div>
</div>

<% include ../partials/footer %>